# begin crush map
tunable choose_local_tries 0
tunable choose_local_fallback_tries 0
tunable choose_total_tries 50
tunable chooseleaf_descend_once 1
tunable straw_calc_version 1

# devices
device 0 osd.0
device 1 osd.1
device 2 osd.2
device 3 osd.3
device 4 osd.4
device 5 osd.5
device 6 osd.6
device 7 osd.7
device 8 osd.8
device 9 osd.9
device 10 osd.10
device 11 osd.11
device 12 osd.12
device 13 osd.13
device 14 osd.14
device 15 osd.15
device 16 osd.16
device 17 osd.17
device 18 osd.18
device 19 osd.19
device 20 osd.20
device 21 osd.21
device 22 osd.22
device 23 osd.23
device 24 osd.24
device 25 osd.25
device 26 osd.26
device 27 osd.27
device 28 osd.28
device 29 osd.29
device 30 osd.30
device 31 osd.31
device 32 osd.32
device 33 osd.33
device 34 osd.34
device 35 osd.35
device 36 osd.36
device 37 osd.37
device 38 osd.38
device 39 osd.39
device 40 osd.40
device 41 osd.41
device 42 osd.42
device 43 osd.43
device 44 osd.44
device 45 osd.45
device 46 osd.46
device 47 osd.47
device 48 osd.48
device 49 osd.49
device 50 osd.50
device 51 osd.51
device 52 osd.52
device 53 osd.53
device 54 osd.54
device 55 osd.55
device 56 osd.56
device 57 osd.57
device 58 osd.58
device 59 osd.59
device 60 osd.60
device 61 osd.61
device 62 osd.62
device 63 osd.63
device 64 osd.64
device 65 osd.65
device 66 osd.66
device 67 osd.67
device 68 osd.68
device 69 osd.69
device 70 osd.70
device 71 osd.71
device 72 osd.72
device 73 osd.73
device 74 osd.74
device 75 osd.75
device 76 osd.76
device 77 osd.77
device 78 osd.78
device 79 osd.79
device 80 osd.80
device 81 osd.81
device 82 osd.82
device 83 osd.83
device 84 osd.84
device 85 osd.85
device 86 osd.86
device 87 osd.87
device 88 osd.88
device 89 osd.89
device 90 osd.90
device 91 osd.91
device 92 osd.92
device 93 osd.93
device 94 osd.94
device 95 osd.95
device 96 osd.96
device 97 osd.97
device 98 osd.98
device 99 osd.99
device 100 osd.100
device 101 osd.101
device 102 osd.102
device 103 osd.103
device 104 osd.104
device 105 osd.105
device 106 osd.106
device 107 osd.107
device 108 osd.108
device 109 osd.109
device 110 osd.110
device 111 osd.111
device 112 osd.112
device 113 osd.113
device 114 osd.114
device 115 osd.115
device 116 osd.116
device 117 osd.117
device 118 osd.118
device 119 osd.119
device 120 osd.120
device 121 osd.121
device 122 osd.122
device 123 osd.123
device 124 osd.124
device 125 osd.125
device 126 osd.126
device 127 osd.127
device 128 osd.128
device 129 osd.129
device 130 osd.130
device 131 osd.131
device 132 osd.132
device 133 osd.133
device 134 osd.134
device 135 osd.135
device 136 osd.136
device 137 osd.137
device 138 osd.138
device 139 osd.139
device 140 osd.140
device 141 osd.141
device 142 osd.142
device 143 osd.143
device 144 osd.144
device 145 osd.145
device 146 osd.146
device 147 osd.147
device 148 osd.148
device 149 osd.149
device 150 osd.150
device 151 osd.151
device 152 osd.152
device 153 osd.153
device 154 osd.154
device 155 osd.155
device 156 osd.156
device 157 osd.157
device 158 osd.158
device 159 osd.159
device 160 osd.160
device 161 osd.161
device 162 osd.162
device 163 osd.163
device 164 osd.164
device 165 osd.165
device 166 osd.166
device 167 osd.167
device 168 osd.168
device 169 osd.169
device 170 osd.170
device 171 osd.171
device 172 osd.172
device 173 osd.173
device 174 osd.174
device 175 osd.175
device 176 osd.176
device 177 osd.177
device 178 osd.178
device 179 osd.179

# types
type 0 osd
type 1 host
type 2 chassis
type 3 rack
type 4 row
type 5 pdu
type 6 pod
type 7 room
type 8 datacenter
type 9 region
type 10 root

# buckets
host prod-d42sa-osd-a-0087-255237 {
        id -1           # do not change unnecessarily
        # weight 0.000
        alg straw
        hash 0  # rjenkins1
}
host prod-d42sa-osd-a-0019-254354 {
        id -5           # do not change unnecessarily
        # weight 0.000
        alg straw
        hash 0  # rjenkins1
}
host prod-d42sa-osd-a-0079-255229 {
        id -6           # do not change unnecessarily
        # weight 0.000
        alg straw
        hash 0  # rjenkins1
}
host prod-d42sa-osd-a-0030-254365 {
        id -7           # do not change unnecessarily
        # weight 0.000
        alg straw
        hash 0  # rjenkins1
}
root default {
        id -2           # do not change unnecessarily
        # weight 0.000
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0087-255237 weight 0.000
        item prod-d42sa-osd-a-0019-254354 weight 0.000
        item prod-d42sa-osd-a-0079-255229 weight 0.000
        item prod-d42sa-osd-a-0030-254365 weight 0.000
}
host prod-d42sa-osd-a-0001-254335-hdd {
        id -3           # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.177 weight 3.630
        item osd.178 weight 3.630
        item osd.179 weight 3.630
}
rack 4119179688-hdd {
        id -4           # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0001-254335-hdd weight 10.890
}
host prod-d42sa-osd-a-0012-254347-hdd {
        id -36          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.77 weight 3.630
        item osd.81 weight 3.630
        item osd.86 weight 3.630
}
rack 924604751-hdd {
        id -37          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0012-254347-hdd weight 10.890
}
host prod-d42sa-osd-a-0013-254348-hdd {
        id -38          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.76 weight 3.630
        item osd.83 weight 3.630
        item osd.88 weight 3.630
}
rack 3159787262-hdd {
        id -39          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0013-254348-hdd weight 10.890
}
host prod-d42sa-osd-a-0014-254349-hdd {
        id -40          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.78 weight 3.630
        item osd.82 weight 3.630
        item osd.87 weight 3.630
}
rack 196016031-hdd {
        id -41          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0014-254349-hdd weight 10.890
}
host prod-d42sa-osd-a-0015-254350-hdd {
        id -42          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.75 weight 3.630
        item osd.80 weight 3.630
        item osd.85 weight 3.630
}
rack 3336700670-hdd {
        id -43          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0015-254350-hdd weight 10.890
}
host prod-d42sa-osd-a-0016-254351-hdd {
        id -44          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.79 weight 3.630
        item osd.84 weight 3.630
        item osd.89 weight 3.630
}
rack 3253374068-hdd {
        id -45          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0016-254351-hdd weight 10.890
}
host prod-d42sa-osd-a-0017-254352-hdd {
        id -46          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.90 weight 3.630
        item osd.95 weight 3.630
        item osd.100 weight 3.630
}
rack 923324919-hdd {
        id -47          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0017-254352-hdd weight 10.890
}
host prod-d42sa-osd-a-0018-254353-hdd {
        id -48          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.91 weight 3.630
        item osd.96 weight 3.630
        item osd.102 weight 3.630
}
rack 2144718016-hdd {
        id -49          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0018-254353-hdd weight 10.890
}
host prod-d42sa-osd-a-0019-254354-hdd {
        id -50          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.104 weight 3.630
        item osd.93 weight 3.630
        item osd.98 weight 3.630
}
rack 2112747525-hdd {
        id -51          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0019-254354-hdd weight 10.890
}
host prod-d42sa-osd-a-0020-254355-hdd {
        id -52          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.97 weight 3.630
        item osd.101 weight 3.630
        item osd.92 weight 3.630
}
rack 2623595002-hdd {
        id -53          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0020-254355-hdd weight 10.890
}
host prod-d42sa-osd-a-0021-254356-hdd {
        id -54          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.94 weight 3.630
        item osd.99 weight 3.630
        item osd.103 weight 3.630
}
rack 1791101923-hdd {
        id -55          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0021-254356-hdd weight 10.890
}
host prod-d42sa-osd-a-0022-254357-hdd {
        id -56          # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.105 weight 3.630
        item osd.111 weight 3.630
        item osd.116 weight 3.630
}
host prod-d42sa-osd-a-0046-255196-ssd {
        id -57          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.3 weight 0.310
}
rack 2457876370-ssd {
        id -58          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0046-255196-ssd weight 0.310
}
host prod-d42sa-osd-a-0047-255197-ssd {
        id -61          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.1 weight 0.310
}
rack 3402143801-ssd {
        id -62          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0047-255197-ssd weight 0.310
}
host prod-d42sa-osd-a-0048-255198-ssd {
        id -63          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.2 weight 0.310
}
rack 3657210579-ssd {
        id -64          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0048-255198-ssd weight 0.310
}
host prod-d42sa-osd-a-0049-255199-ssd {
        id -65          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.0 weight 0.310
}
rack 4037145683-ssd {
        id -66          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0049-255199-ssd weight 0.310
}
host prod-d42sa-osd-a-0050-255200-ssd {
        id -67          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.4 weight 0.310
}
rack 830297600-ssd {
        id -68          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0050-255200-ssd weight 0.310
}
host prod-d42sa-osd-a-0051-255201-ssd {
        id -69          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.5 weight 0.310
}
rack 524486495-ssd {
        id -70          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0051-255201-ssd weight 0.310
}
host prod-d42sa-osd-a-0052-255202-ssd {
        id -71          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.6 weight 0.310
}
rack 3760729384-ssd {
        id -72          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0052-255202-ssd weight 0.310
}
host prod-d42sa-osd-a-0053-255203-ssd {
        id -73          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.7 weight 0.310
}
rack 1612605708-ssd {
        id -74          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0053-255203-ssd weight 0.310
}
host prod-d42sa-osd-a-0054-255204-ssd {
        id -75          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.9 weight 0.310
}
rack 275584930-ssd {
        id -76          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0054-255204-ssd weight 0.310
}
host prod-d42sa-osd-a-0055-255205-ssd {
        id -77          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.8 weight 0.310
}
rack 3752768861-ssd {
        id -78          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0055-255205-ssd weight 0.310
}
host prod-d42sa-osd-a-0056-255206-ssd {
        id -79          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.10 weight 0.310
}
rack 3011352312-ssd {
        id -80          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0056-255206-ssd weight 0.310
}
host prod-d42sa-osd-a-0057-255207-ssd {
        id -81          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.11 weight 0.310
}
rack 339172689-ssd {
        id -82          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0057-255207-ssd weight 0.310
}
host prod-d42sa-osd-a-0058-255208-ssd {
        id -83          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.12 weight 0.310
}
rack 2255212731-ssd {
        id -84          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0058-255208-ssd weight 0.310
}
host prod-d42sa-osd-a-0059-255209-ssd {
        id -85          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.13 weight 0.310
}
rack 618073301-ssd {
        id -86          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0059-255209-ssd weight 0.310
}
host prod-d42sa-osd-a-0060-255210-ssd {
        id -87          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.14 weight 0.310
}
rack 2422428550-ssd {
        id -88          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0060-255210-ssd weight 0.310
}
host prod-d42sa-osd-a-0061-255211-ssd {
        id -89          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.16 weight 0.310
}
rack 3481137160-ssd {
        id -90          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0061-255211-ssd weight 0.310
}
host prod-d42sa-osd-a-0062-255212-ssd {
        id -91          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.15 weight 0.310
}
rack 2473188480-ssd {
        id -92          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0062-255212-ssd weight 0.310
}
host prod-d42sa-osd-a-0063-255213-ssd {
        id -93          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.19 weight 0.310
}
rack 230786610-ssd {
        id -94          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0063-255213-ssd weight 0.310
}
host prod-d42sa-osd-a-0064-255214-ssd {
        id -95          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.17 weight 0.310
}
rack 548496463-ssd {
        id -96          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0064-255214-ssd weight 0.310
}
host prod-d42sa-osd-a-0065-255215-ssd {
        id -97          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.18 weight 0.310
}
rack 1333013612-ssd {
        id -98          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0065-255215-ssd weight 0.310
}
host prod-d42sa-osd-a-0066-255216-ssd {
        id -99          # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.20 weight 0.310
}
rack 2379601674-ssd {
        id -100         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0066-255216-ssd weight 0.310
}
host prod-d42sa-osd-a-0067-255217-ssd {
        id -101         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.21 weight 0.310
}
rack 3301800793-ssd {
        id -102         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0067-255217-ssd weight 0.310
}
host prod-d42sa-osd-a-0068-255218-ssd {
        id -103         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.22 weight 0.310
}
rack 2193596384-ssd {
        id -104         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0068-255218-ssd weight 0.310
}
host prod-d42sa-osd-a-0069-255219-ssd {
        id -105         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.23 weight 0.310
}
rack 4110327910-ssd {
        id -106         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0069-255219-ssd weight 0.310
}
host prod-d42sa-osd-a-0070-255220-ssd {
        id -107         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.24 weight 0.310
}
rack 1963484162-ssd {
        id -108         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0070-255220-ssd weight 0.310
}
host prod-d42sa-osd-a-0071-255221-ssd {
        id -109         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.25 weight 0.310
}
rack 2694060251-ssd {
        id -110         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0071-255221-ssd weight 0.310
}
host prod-d42sa-osd-a-0072-255222-ssd {
        id -111         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.26 weight 0.310
}
rack 3750797417-ssd {
        id -112         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0072-255222-ssd weight 0.310
}
host prod-d42sa-osd-a-0074-255224-ssd {
        id -113         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.29 weight 0.310
}
rack 547216631-ssd {
        id -114         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0074-255224-ssd weight 0.310
}
host prod-d42sa-osd-a-0075-255225-ssd {
        id -115         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.28 weight 0.310
}
rack 2134446339-ssd {
        id -116         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0075-255225-ssd weight 0.310
}
host prod-d42sa-osd-a-0076-255226-ssd {
        id -117         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.27 weight 0.310
}
rack 2793376403-ssd {
        id -118         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0076-255226-ssd weight 0.310
}
host prod-d42sa-osd-a-0077-255227-ssd {
        id -119         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.30 weight 0.310
}
rack 2140837541-ssd {
        id -120         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0077-255227-ssd weight 0.310
}
host prod-d42sa-osd-a-0078-255228-ssd {
        id -121         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.31 weight 0.310
}
rack 582356580-ssd {
        id -122         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0078-255228-ssd weight 0.310
}
host prod-d42sa-osd-a-0079-255229-ssd {
        id -123         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.32 weight 0.310
}
rack 2751967865-ssd {
        id -124         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0079-255229-ssd weight 0.310
}
host prod-d42sa-osd-a-0080-255230-ssd {
        id -125         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.33 weight 0.310
}
rack 4020370034-ssd {
        id -126         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0080-255230-ssd weight 0.310
}
host prod-d42sa-osd-a-0081-255231-ssd {
        id -127         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.34 weight 0.310
}
rack 1173978480-ssd {
        id -128         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0081-255231-ssd weight 0.310
}
host prod-d42sa-osd-a-0082-255232-ssd {
        id -129         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.35 weight 0.310
}
rack 108368983-ssd {
        id -130         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0082-255232-ssd weight 0.310
}
host prod-d42sa-osd-a-0083-255233-ssd {
        id -131         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.36 weight 0.310
}
rack 2196636902-ssd {
        id -132         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0083-255233-ssd weight 0.310
}
host prod-d42sa-osd-a-0084-255234-ssd {
        id -133         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.38 weight 0.310
}
rack 3076358281-ssd {
        id -134         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0084-255234-ssd weight 0.310
}
host prod-d42sa-osd-a-0085-255235-ssd {
        id -135         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.37 weight 0.310
}
rack 1107221836-ssd {
        id -136         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0085-255235-ssd weight 0.310
}
host prod-d42sa-osd-a-0086-255236-ssd {
        id -137         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.39 weight 0.310
}
rack 3711360291-ssd {
        id -138         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0086-255236-ssd weight 0.310
}
host prod-d42sa-osd-a-0087-255237-ssd {
        id -139         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.40 weight 0.310
}
rack 2734800606-ssd {
        id -140         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0087-255237-ssd weight 0.310
}
host prod-d42sa-osd-a-0088-255238-ssd {
        id -141         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.41 weight 0.310
}
rack 2215775605-ssd {
        id -142         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0088-255238-ssd weight 0.310
}
host prod-d42sa-osd-a-0089-255239-ssd {
        id -143         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.44 weight 0.310
}
rack 2492896643-ssd {
        id -144         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0089-255239-ssd weight 0.310
}
host prod-d42sa-osd-a-0090-255240-ssd {
        id -145         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.43 weight 0.310
}
rack 652824673-ssd {
        id -146         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0090-255240-ssd weight 0.310
}
host prod-d42sa-osd-a-0073-285354-ssd {
        id -147         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item osd.42 weight 0.310
}
rack 3989561550-ssd {
        id -148         # do not change unnecessarily
        # weight 0.310
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0073-285354-ssd weight 0.310
}
datacenter in-chennai-1-ssd {
        id -59          # do not change unnecessarily
        # weight 13.950
        alg straw
        hash 0  # rjenkins1
        item 2457876370-ssd weight 0.310
        item 3402143801-ssd weight 0.310
        item 3657210579-ssd weight 0.310
        item 4037145683-ssd weight 0.310
        item 830297600-ssd weight 0.310
        item 524486495-ssd weight 0.310
        item 3760729384-ssd weight 0.310
        item 1612605708-ssd weight 0.310
        item 275584930-ssd weight 0.310
        item 3752768861-ssd weight 0.310
        item 3011352312-ssd weight 0.310
        item 339172689-ssd weight 0.310
        item 2255212731-ssd weight 0.310
        item 618073301-ssd weight 0.310
        item 2422428550-ssd weight 0.310
        item 3481137160-ssd weight 0.310
        item 2473188480-ssd weight 0.310
        item 230786610-ssd weight 0.310
        item 548496463-ssd weight 0.310
        item 1333013612-ssd weight 0.310
        item 2379601674-ssd weight 0.310
        item 3301800793-ssd weight 0.310
        item 2193596384-ssd weight 0.310
        item 4110327910-ssd weight 0.310
        item 1963484162-ssd weight 0.310
        item 2694060251-ssd weight 0.310
        item 3750797417-ssd weight 0.310
        item 547216631-ssd weight 0.310
        item 2134446339-ssd weight 0.310
        item 2793376403-ssd weight 0.310
        item 2140837541-ssd weight 0.310
        item 582356580-ssd weight 0.310
        item 2751967865-ssd weight 0.310
        item 4020370034-ssd weight 0.310
        item 1173978480-ssd weight 0.310
        item 108368983-ssd weight 0.310
        item 2196636902-ssd weight 0.310
        item 3076358281-ssd weight 0.310
        item 1107221836-ssd weight 0.310
        item 3711360291-ssd weight 0.310
        item 2734800606-ssd weight 0.310
        item 2215775605-ssd weight 0.310
        item 2492896643-ssd weight 0.310
        item 652824673-ssd weight 0.310
        item 3989561550-ssd weight 0.310
}
root ssd {
        id -60          # do not change unnecessarily
        # weight 13.950
        alg straw
        hash 0  # rjenkins1
        item in-chennai-1-ssd weight 13.950
}
host prod-d42sa-osd-a-0002-254337-hdd {
        id -149         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.46 weight 3.630
        item osd.47 weight 3.630
        item osd.48 weight 3.630
}
rack 2101400447-hdd {
        id -150         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0002-254337-hdd weight 10.890
}
host prod-d42sa-osd-a-0003-254338-hdd {
        id -153         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.50 weight 3.630
        item osd.56 weight 3.630
        item osd.61 weight 3.630
}
rack 1971056012-hdd {
        id -154         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0003-254338-hdd weight 10.890
}
host prod-d42sa-osd-a-0004-254339-hdd {
        id -155         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.45 weight 3.630
        item osd.53 weight 3.630
        item osd.55 weight 3.630
}
rack 3545793993-hdd {
        id -156         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0004-254339-hdd weight 10.890
}
host prod-d42sa-osd-a-0005-254340-hdd {
        id -157         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.52 weight 3.630
        item osd.58 weight 3.630
        item osd.63 weight 3.630
}
rack 17822663-hdd {
        id -158         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0005-254340-hdd weight 10.890
}
host prod-d42sa-osd-a-0006-254341-hdd {
        id -159         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.49 weight 3.630
        item osd.54 weight 3.630
        item osd.59 weight 3.630
}
rack 1935834117-hdd {
        id -160         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0006-254341-hdd weight 10.890
}
host prod-d42sa-osd-a-0007-254342-hdd {
        id -161         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.51 weight 3.630
        item osd.57 weight 3.630
        item osd.62 weight 3.630
}
rack 1874217802-hdd {
        id -162         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0007-254342-hdd weight 10.890
}
host prod-d42sa-osd-a-0008-254343-hdd {
        id -163         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.60 weight 3.630
        item osd.65 weight 3.630
        item osd.68 weight 3.630
}
rack 2753939309-hdd {
        id -164         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0008-254343-hdd weight 10.890
}
host prod-d42sa-osd-a-0009-254344-hdd {
        id -165         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.64 weight 3.630
        item osd.69 weight 3.630
        item osd.72 weight 3.630
}
rack 49793154-hdd {
        id -166         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0009-254344-hdd weight 10.890
}
host prod-d42sa-osd-a-0010-254345-hdd {
        id -167         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.66 weight 3.630
        item osd.70 weight 3.630
        item osd.73 weight 3.630
}
rack 1808980394-hdd {
        id -168         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0010-254345-hdd weight 10.890
}
host prod-d42sa-osd-a-0011-254346-hdd {
        id -169         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.67 weight 3.630
        item osd.71 weight 3.630
        item osd.74 weight 3.630
}
rack 2783938356-hdd {
        id -170         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0011-254346-hdd weight 10.890
}
rack 2341579819-hdd {
        id -171         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0022-254357-hdd weight 10.890
}
host prod-d42sa-osd-a-0023-254358-hdd {
        id -172         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.106 weight 3.630
        item osd.110 weight 3.630
        item osd.115 weight 3.630
}
rack 3432258920-hdd {
        id -173         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0023-254358-hdd weight 10.890
}
host prod-d42sa-osd-a-0024-254359-hdd {
        id -174         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.107 weight 3.630
        item osd.112 weight 3.630
        item osd.117 weight 3.630
}
rack 746411511-hdd {
        id -175         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0024-254359-hdd weight 10.890
}
host prod-d42sa-osd-a-0025-254360-hdd {
        id -176         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.108 weight 3.630
        item osd.113 weight 3.630
        item osd.118 weight 3.630
}
rack 1643414192-hdd {
        id -177         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0025-254360-hdd weight 10.890
}
host prod-d42sa-osd-a-0026-254361-hdd {
        id -178         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.109 weight 3.630
        item osd.114 weight 3.630
        item osd.119 weight 3.630
}
rack 1805975875-hdd {
        id -179         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0026-254361-hdd weight 10.890
}
host prod-d42sa-osd-a-0027-254362-hdd {
        id -180         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.120 weight 3.630
        item osd.125 weight 3.630
        item osd.130 weight 3.630
}
rack 2973330329-hdd {
        id -181         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0027-254362-hdd weight 10.890
}
host prod-d42sa-osd-a-0028-254363-hdd {
        id -182         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.121 weight 3.630
        item osd.126 weight 3.630
        item osd.131 weight 3.630
}
rack 179170507-hdd {
        id -183         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0028-254363-hdd weight 10.890
}
host prod-d42sa-osd-a-0029-254364-hdd {
        id -184         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.122 weight 3.630
        item osd.127 weight 3.630
        item osd.134 weight 3.630
}
rack 3608332339-hdd {
        id -185         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0029-254364-hdd weight 10.890
}
host prod-d42sa-osd-a-0030-254365-hdd {
        id -186         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.128 weight 3.630
        item osd.132 weight 3.630
        item osd.123 weight 3.630
}
rack 2327294183-hdd {
        id -187         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0030-254365-hdd weight 10.890
}
host prod-d42sa-osd-a-0031-254366-hdd {
        id -188         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.124 weight 3.630
        item osd.129 weight 3.630
        item osd.133 weight 3.630
}
rack 289602837-hdd {
        id -189         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0031-254366-hdd weight 10.890
}
host prod-d42sa-osd-a-0032-254367-hdd {
        id -190         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.136 weight 3.630
        item osd.141 weight 3.630
        item osd.146 weight 3.630
}
rack 1577143741-hdd {
        id -191         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0032-254367-hdd weight 10.890
}
host prod-d42sa-osd-a-0033-254374-hdd {
        id -192         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.135 weight 3.630
        item osd.140 weight 3.630
        item osd.145 weight 3.630
}
rack 4082826338-hdd {
        id -193         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0033-254374-hdd weight 10.890
}
host prod-d42sa-osd-a-0034-254375-hdd {
        id -194         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.137 weight 3.630
        item osd.142 weight 3.630
        item osd.147 weight 3.630
}
rack 3722707401-hdd {
        id -195         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0034-254375-hdd weight 10.890
}
host prod-d42sa-osd-a-0035-254376-hdd {
        id -196         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.139 weight 3.630
        item osd.144 weight 3.630
        item osd.149 weight 3.630
}
rack 2800508410-hdd {
        id -197         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0035-254376-hdd weight 10.890
}
host prod-d42sa-osd-a-0036-254377-hdd {
        id -198         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.138 weight 3.630
        item osd.143 weight 3.630
        item osd.148 weight 3.630
}
rack 1284135244-hdd {
        id -199         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0036-254377-hdd weight 10.890
}
host prod-d42sa-osd-a-0037-254378-hdd {
        id -200         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.150 weight 3.630
        item osd.155 weight 3.630
        item osd.160 weight 3.630
}
rack 2893255131-hdd {
        id -201         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0037-254378-hdd weight 10.890
}
host prod-d42sa-osd-a-0038-254379-hdd {
        id -202         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.151 weight 3.630
        item osd.156 weight 3.630
        item osd.161 weight 3.630
}
rack 1934702662-hdd {
        id -203         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0038-254379-hdd weight 10.890
}
host prod-d42sa-osd-a-0039-254380-hdd {
        id -204         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.153 weight 3.630
        item osd.158 weight 3.630
        item osd.162 weight 3.630
}
rack 2437726513-hdd {
        id -205         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0039-254380-hdd weight 10.890
}
host prod-d42sa-osd-a-0040-254381-hdd {
        id -206         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.152 weight 3.630
        item osd.157 weight 3.630
        item osd.163 weight 3.630
}
rack 2051131210-hdd {
        id -207         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0040-254381-hdd weight 10.890
}
host prod-d42sa-osd-a-0041-254382-hdd {
        id -208         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.154 weight 3.630
        item osd.159 weight 3.630
        item osd.164 weight 3.630
}
rack 2680910276-hdd {
        id -209         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0041-254382-hdd weight 10.890
}
host prod-d42sa-osd-a-0042-254383-hdd {
        id -210         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.165 weight 3.630
        item osd.170 weight 3.630
        item osd.174 weight 3.630
}
rack 2621623430-hdd {
        id -211         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0042-254383-hdd weight 10.890
}
host prod-d42sa-osd-a-0043-254384-hdd {
        id -212         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.166 weight 3.630
        item osd.169 weight 3.630
        item osd.173 weight 3.630
}
rack 1872246358-hdd {
        id -213         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0043-254384-hdd weight 10.890
}
host prod-d42sa-osd-a-0044-254385-hdd {
        id -214         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.167 weight 3.630
        item osd.171 weight 3.630
        item osd.175 weight 3.630
}
rack 3614522081-hdd {
        id -215         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0044-254385-hdd weight 10.890
}
host prod-d42sa-osd-a-0045-255008-hdd {
        id -216         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item osd.168 weight 3.630
        item osd.172 weight 3.630
        item osd.176 weight 3.630
}
rack 3661091086-hdd {
        id -217         # do not change unnecessarily
        # weight 10.890
        alg straw
        hash 0  # rjenkins1
        item prod-d42sa-osd-a-0045-255008-hdd weight 10.890
}
datacenter in-chennai-1-hdd {
        id -151         # do not change unnecessarily
        # weight 490.049
        alg straw
        hash 0  # rjenkins1
        item 2101400447-hdd weight 10.890
        item 1971056012-hdd weight 10.890
        item 3545793993-hdd weight 10.890
        item 17822663-hdd weight 10.890
        item 1935834117-hdd weight 10.890
        item 1874217802-hdd weight 10.890
        item 2753939309-hdd weight 10.890
        item 49793154-hdd weight 10.890
        item 1808980394-hdd weight 10.890
        item 2783938356-hdd weight 10.890
        item 924604751-hdd weight 10.890
        item 3159787262-hdd weight 10.890
        item 196016031-hdd weight 10.890
        item 3336700670-hdd weight 10.890
        item 3253374068-hdd weight 10.890
        item 923324919-hdd weight 10.890
        item 2144718016-hdd weight 10.890
        item 2112747525-hdd weight 10.890
        item 2623595002-hdd weight 10.890
        item 1791101923-hdd weight 10.890
        item 2341579819-hdd weight 10.890
        item 3432258920-hdd weight 10.890
        item 746411511-hdd weight 10.890
        item 1643414192-hdd weight 10.890
        item 1805975875-hdd weight 10.890
        item 2973330329-hdd weight 10.890
        item 179170507-hdd weight 10.890
        item 3608332339-hdd weight 10.890
        item 2327294183-hdd weight 10.890
        item 289602837-hdd weight 10.890
        item 1577143741-hdd weight 10.890
        item 4082826338-hdd weight 10.890
        item 3722707401-hdd weight 10.890
        item 2800508410-hdd weight 10.890
        item 1284135244-hdd weight 10.890
        item 2893255131-hdd weight 10.890
        item 1934702662-hdd weight 10.890
        item 2437726513-hdd weight 10.890
        item 2051131210-hdd weight 10.890
        item 2680910276-hdd weight 10.890
        item 2621623430-hdd weight 10.890
        item 1872246358-hdd weight 10.890
        item 3614522081-hdd weight 10.890
        item 3661091086-hdd weight 10.890
        item 4119179688-hdd weight 10.890
}
root hdd {
        id -152         # do not change unnecessarily
        # weight 490.049
        alg straw
        hash 0  # rjenkins1
        item in-chennai-1-hdd weight 490.049
}

# rules
rule replicated_ruleset {
        ruleset 0
        type replicated
        min_size 1
        max_size 10
        step take prod-d42sa-osd-a-0087-255237
        step chooseleaf firstn 0 type host
        step emit
}
rule replicated_ruleset_hdd {
        ruleset 1
        type replicated
        min_size 1
        max_size 10
        step take hdd
        step chooseleaf firstn 0 type rack
        step emit
}
rule replicated_ruleset_ssd {
        ruleset 2
        type replicated
        min_size 1
        max_size 10
        step take ssd
        step chooseleaf firstn 0 type rack
        step emit
}

#